*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    font-size: 62.5%;
}

body {
    background: linear-gradient(45deg, #190361 0%, #BB00FF 100%);
    font-size: 1.6rem;
    display: grid;
    place-items: center;
    height: 100vh;
}

.hide {
    display: none;
}

main {
    background: #FFFFFF;
    box-shadow: 0.2rem .4rem 1.4rem rgba(0, 0, 0, .7);
    border-radius: .6rem;
    padding: 4.8rem 6.4rem 6.4rem;
    width: min(42.8rem, 90%);
    margin: 0 auto;
    margin-top: -12rem;
    text-align: center;
}
/*screen 1*/
h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
    font-weight: 700;
}

h1, p {
    color: #34355B;
    font-family: "Montserrat", sans-serif;
}

p {
    opacity: 0.8;
}
.screen1 img{
    margin-top: 3rem;
    animation: tremer .2s;
    animation-iteration-count: 8;
}

.screen1 img:hover{
    cursor: pointer;
    animation-name: img-tremura;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@keyframes img-tremura {
    10% {
      transform: translateX(3px) rotate(2deg);
    }
    20% {
      transform: translateX(-3px) rotate(-2deg);
    }
    30% {
      transform: translateX(3px) rotate(2deg);
    }
    40% {
      transform: translateX(-3px) rotate(-2deg);
    }
    50% {
      transform: translateX(2px) rotate(1deg);
    }
    60% {
      transform: translateX(-2px) rotate(-1deg);
    }
    70% {
      transform: translateX(2px) rotate(1deg);
    }
    80% {
      transform: translateX(-2px) rotate(-1deg);
    }
    90% {
      transform: translateX(1px) rotate(0);
    }
    100% {
      transform: translateX(-1px) rotate(0);
    }
  }

/*screen 2*/
h2 {
   font-family: "Montserrat", Sans-Serif;
   font-size: 2.4rem;
   font-weight: 700;
   margin-bottom: 3.3rem;
   color: #34355B; 
}
.sorte p{
    padding: 1rem;
    background: #E4EDF1;
    box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);
    text-align: center;
    font-family: "Dancing Script", Sans-Serif;
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    color: #000000;  
}
.sorte{
  animation-name: bottomToTop;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes bottomToTop {
  0%{
    transform: translateY(13rem) scale(0.1);
    opacity: 0;
  }
  100%{
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.screen2 img{
    margin: 5rem 0 5rem 0;
}
.screen2 button {
    padding: 1.3rem;
    background-color: #FF9500;
    color: white;
    font-weight: bold;
    border-radius: .4rem;
    cursor: pointer;
    transition: background .4s;
    border: none ;
    font-family: "DM SANS", sans-serif;
}

button:hover {
    background-color: #da850e;
}
